<!--Sales order running Modal -->
<div class="modal fade" id="SOrunningModal_siam_aisin" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Siam Aisin Sales Order Running</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="sorunningForm_siam_aisin" method="POST" action="{{ url_for('menu.siam_aisin_order_running') }}" enctype="multipart/form-data">
                    <div class="m-4 row">
                        <label for="running_siam_aisin" class="col-sm-4 col-form-label">Start SO No</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="running_siam_aisin" name="running_siam_aisin" required>
                        </div>
                        <div class="form-group form-hidden">
                            <input type="text" id="sorunning_url_siam_aisin" name="sorunning_url_siam_aisin" value="/menu/spring/siam_aisin/running" disabled>
                        </div>
                    </div>
                    <div id="salesOrderMessage_siam_aisin" class="my-3 alert"></div>
                    <div class="modal-footer">
                        <button type="submit" class="form-button-submit">OK</button>
                        <button type="reset" class="form-button-close" data-dismiss="modal" id="btnClose">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 